@import "tailwindcss";

@utility container {
  margin-inline : auto;
  padding-inline : 1rem;
}

@theme {

  /* 
    Brand Colors
  */
  --color-brand-primary: #890808;
  --color-brand-secondary: #c24a00;
  --color-brand-bg-primary: #fcf6f6;
  --color-brand-bg-secondary: #f6f1e7;
  --color-brand-bg-tertiary: var(--color-brand-primary);
  --color-brand-text-dark: #000000;
  --color-brand-text-light: #ffffff;
  --color-brand-bg-beige: #E7DDC6;
  --color-brand-orange: #ED620C;
  --color-primary: var(--color-brand-primary);
  --color-secondary: var(--color-brand-secondary);
  --color-background: var(--color-brand-bg-primary);
  --color-background-secondary: var(--color-brand-bg-secondary);
  --color-background-tertiary: var(--color-brand-bg-tertiary);
  --color-foreground: var(--color-brand-text-dark);
  --color-text-dark: var(--color-brand-text-dark);
  --color-text-light: var(--color-brand-text-light);



  /* 
    Font Families 
  */
  --font-heading: var(--font-tiempos);
  --font-body: var(--font-ronzino), Georgia, serif;


  /* Border Radius */
  --radius-default: 1rem;

  /* Custom breakpoints */
  --breakpoint-xsmall: 480px;
  --breakpoint-small: 768px;
  --breakpoint-medium: 992px;
  --breakpoint-large: 1200px;
  --breakpoint-xlarge: 1440px;



  --spacing-safe-x : 5%;

  /* 
    TYPOGRAPHY
  */

  --text-h1 : clamp(2.5rem, 8vw, 4rem);
  --text-h1--line-height :  110%;
  --text-h1--letter-spacing: -0.02em;
  --text-h1--font-weight : 500;


  --text-h1-mobile : 2.5rem;
  --text-h1-mobile--line-height :  110%;
  --text-h1-mobile--letter-spacing: -0.02em;
  --text-h1-mobile--font-weight : 500;


  /* h2 */

  --text-h2: clamp(3rem, 6vw, 6rem);
  --text-h2--line-height: 100%;
  --text-h2--letter-spacing: -0.03em;
  --text-h2--font-weight : 500;

  --text-h2-mobile: 2.125rem;
  --text-h2-mobile--line-height: 100%;
  --text-h2-mobile--letter-spacing: -0.02em;
  --text-h2-mobile--font-weight : 500;



  /* 
    Typography Paragraphs / Body
  */

  --text-p1-24 : 1.5rem;
  --text-p1-24--line-height: 110%;
  --text-p1-24--letter-spacing: -0.01em;
  --text-p1-24--font-weight : 500;


  --text-p2-18-semibold: 1.125rem;
  --text-p2-18-semibold--line-height: 120%;
  --text-p2-18-semibold--letter-spacing: -0.01em;
  --text-p2-18-semibold--font-weight: 600;

  --text-p2-18-medium: 1.125rem;
  --text-p2-18-medium--line-height: 130%;
  --text-p2-18-medium--letter-spacing: -0.01em;
  --text-p2-18-medium--font-weight: 500;




  /* Containers */

  --max-width-xsmall: 30rem;  /* (480px) */
  --max-width-small: 48rem;   /* (768px) */
  --max-width-medium: 62rem;   /* (992px) */
  --max-width-large: 76.5rem;  /*  (1224px) */
  --max-width-xlarge: 86rem;   /*  (1376px) */
}


@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-body);
    font-size: var(--text-sm);
    letter-spacing: -0.03em;
  }

  img {
    width: 100%;
    display: block;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}


/* =========================
   LENIS
========================= */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.scroll-locked {
  overflow: hidden;
}



/* =========================
   ANIMATION INITIAL STATES
========================= */
[fd-animate] {
  will-change: transform, opacity, visibility;
}

[fd-animate="fade-up"] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 100px, 0);
}

[fd-animate="fade-in-up"],
[fd-animate="fade-in-bottom"] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 80px, 0);
}

[fd-animate="fade-in-left"] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-80px, 0, 0);
}

[fd-animate="fade-in-right"] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(80px, 0, 0);
}

[fd-animate="child-fade-up"]>*,
[fd-animate="child-fade-in-up"]>*,
[fd-animate="child-fade-in-bottom"]>* {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 80px, 0);
}

[fd-animate="child-fade-in-left"]>* {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-80px, 0, 0);
}

[fd-animate="child-fade-in-right"]>* {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(80px, 0, 0);
}

[fd-animate="heading-anime"] [data-fd-char] {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 110%, 0);
}

/* =========================
   SECTION PADDING
========================= */
.section-padding {
  @apply py-20;
}




/* =========================
  Components
========================= */
.navbar-container::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  /* border thickness */
  border-radius: inherit;
  background: linear-gradient(90deg, hsla(5, 94%, 47%, 1) 0%, hsla(5, 94%, 47%, 0) 15%, hsla(5, 94%, 47%, 0) 85%, hsla(5, 94%, 47%, 1) 100%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  /* keep it clickable through */
  z-index: 1;
}